body {
    font-family: "IBM Plex Sans";
    padding-bottom: 25em;
}

.page-width {
  max-width: 55rem;
  margin: auto;
  padding: 1rem 0;
}

input#ap-input {
  width: 100%;
  min-width: 100%;
  font-size: 1.5rem;
  border-radius: 1rem;
  border-width: 4px;
  padding-left: 1rem;
  padding-right: 1rem;
  overflow: hidden;
}

#searchresult {
  font-size: 140%;
}

#searchresult summary::marker {
  content: "";
}

#searchresult code {
  white-space: pre-wrap;
}

.unselectable {
  user-select: none;
}

/* Desktop */
@media (min-width: 50em) {
}

/* Smartphone */
@media (max-width: 50em) {
  h1 {
    font-size: 2rem;
  }
}

