/*
 * SPDX-FileCopyrightText: 2025 Kerstin Humm <kerstin@erictapen.name>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "IBM Plex Sans";
    margin: 0;
}

main {
    flex: 1;
}

footer {
    margin-top: 5em;
    text-align: center;
}

code {
    font-family: "IBM Plex Mono";
}

#disclaimer {
  text-align: center;
  background: #f2f1ac;
  padding: 0;
  padding: 0.25em;
  font-style: italic;
}

#js-disclaimer {
  display: block;
  position: relative;
  width: 320px;
  height: 240px;
  border: 1px solid black;
  margin: 2em auto;
}

#js-disclaimer .logo {
  position: absolute;
  width: 6em;
  height: 3em;
  font-family: "IBM Plex Mono";
  font-weight: 900;
  font-style: italic;
  animation:
    js-disclaimer-x 3s linear infinite alternate,
    js-disclaimer-y 4s linear infinite alternate,
    js-disclaimer-color-x 15s step-start infinite,
    js-disclaimer-color-y 20s step-start infinite;
  color:
    hsl(calc(
      360 / 25 * (var(--color-y) * 5 + var(--color-x)) * 1deg
    ) 100% 50%);
}

#js-disclaimer-text {
  text-align: center;
  font-style: italic;
  color: grey;
}

@keyframes js-disclaimer-x {
  from { left: 0; }
  to { left: calc(100% - 6em); }
}

@keyframes js-disclaimer-y {
  from { top: 0; }
  to { top: calc(100% - 3em); }
}

@keyframes js-disclaimer-color-x {
  from { --color--x: 0; }
  20% { --color-x: 2; }
  40% { --color-x: 4; }
  60% { --color-x: 1; }
  80% { --color-x: 3; }
  to { --color-x: 0; }
}

@keyframes js-disclaimer-color-y {
  from { --color-y: 0; }
  20% { --color-y: 2; }
  40% { --color-y: 4; }
  60% { --color-y: 1; }
  80% { --color-y: 3; }
  to { --color-y: 0; }
}

.page-width {
  max-width: 55rem;
  margin: auto;
  padding: 1rem 0;
}

input#ap-input {
  width: 100%;
  min-width: 100%;
  font-size: 1.5rem;
  border-radius: 1rem;
  border-width: 4px;
  padding-left: 1rem;
  padding-right: 1rem;
  overflow: hidden;
}

#searchresult {
  background: lightgrey;
}

#searchresult summary::marker {
  content: "";
}

#searchresult code {
  white-space: pre-wrap;
}

.unselectable {
  user-select: none;
}

details summary {
  cursor: pointer;
}

details summary:hover {
  background: #c7d0d7;
}

details[open] summary {
  background: #bbc2c8;
}

details .annotation {
  background: white;
  box-shadow: inset 0px 10px 10px -6px lightgrey;
  transition: padding-top 150ms ease-out;
}

details[open] .annotation {
  padding-top: 0.2em;
}

details.Violation .annotation {
  color: red;
}

details.Warning .annotation {
  color: yellow;
}

details.Note .annotation {
  color: grey;
}

details.Correct .annotation {
  color: green;
}

/* Desktop */
@media (min-width: 50em) {
}

/* Smartphone */
@media (max-width: 50em) {
  h1 {
    font-size: 2rem;
  }
}

